# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework.dSYM
*.lock

# Generated plugin registrant
/.flutter-plugins
/.flutter-plugins-dependencies

# Obvious
.DS_Store

# Environment variables (keep out of repo)
.env

# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea/

# VS Code
.vscode/

# macOS
*.dSYM